p {
    color: whitesmoke;
    font-size: 16px;
}

.face-img {
    width: 70% !important;
    padding-bottom: 5%;
}

.face-img {
    display: flex;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    box-shadow: 2px 2px 10px solid black;
    width: 70%;
}

.about-highlight {
    padding: 50px 0 50px 0;
}

.card-shadow {
    box-shadow: 5px 5px 10px paleturquoise;

}

.btn {
    display: flex;
    position: relative;
    border: 2px solid whitesmoke;
    z-index: 2;
    background: none;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    text-transform: lowercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    box-sizing: border-box;
    white-space: nowrap;
    width: 250px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    border-radius: 10px;
}

.btn:hover {
    z-index: 2;
    border: 2px solid paleturquoise;
    color: paleturquoise;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;

}