.btn {
    display: flex;
    position: relative;
    border: 2px solid whitesmoke;
    z-index: 2;
    background: none;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    text-transform: lowercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    box-sizing: border-box;
    white-space: nowrap;
    width: 250px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    border-radius: 10px;
}

.btn:hover {
    z-index: 2;
    border: 2px solid paleturquoise;
    color: paleturquoise;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;

}
  
  .btn-right {
    float: right;
    margin-top: 0px;
  }

  .p-heading,
.p-description {
  color: whitesmoke;
}

.p-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-name {
  color: rgb(245, 245, 245);
}