.h3 {
    font-family: monospace;
}

.p {
    font-family: monospace;
    font-size: 40px;
}

.submit-btn .input-data a.styled-button {
    display: inline-block;
    position: relative;
    z-index: 2;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    font-family: monospace;
    text-decoration: none;
    box-sizing: border-box;
    white-space: nowrap;
    width: auto;
}

.submit-btn .input-data a.styled-button:hover {
    z-index: 2;
    border: 1px solid whitesmoke;
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: monospace;
    padding: 0px 8px;
    display: inline-block;
}

.submit-btn .input-data {
    overflow: visible;
    text-align: center;
}

.banner-devt {
    text-align: center;
    margin-top: 120px;
    position: relative;
    width: 100%;
    font-size: 20px;
    z-index: 1;
}

.effect-design {
    color: rgb(237, 228, 228);
    letter-spacing: 10px;
    font-size: 38px;
    font-family: fantasy;
    z-index: -1;
}
