.navbar {
    width: 100%;
    text-align: center;
    padding: 20px 100px;
    position: fixed;
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

    
    /* text-align: right;
    padding: 40px 0px;
     */
}

.navbar a {
    text-decoration: none;
    padding: 0px 10px;
    color: whitesmoke;
    font-family: monospace;
    font-weight: bold;
    font-size: 22px;

    /* padding: 0px 30px;
    border-radius: 10px;
    font-family: sans-serif;
    z-index: 2; */
}

.navbar a:hover {
    color: paleturquoise;
    transition: 3s;
}

/* DROPDOWN */
.droptext {
    color: whitesmoke;
    font-size: 16px;
    padding: 0px 0px 10px 0px;
    border-radius: 10px;
    font-family: monospace
    
}

.droptext:hover {
    color: paleturquoise;
    font-size: 16px;
    border-radius: 10px;
    font-family: sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    transition: display 1s ease-in;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.dropdown-content a {
    color: whitesmoke;
    text-align: center;
    padding: 13px 20px;
    margin: 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    transition: 0.5s;
    background-color: rgb(245, 245, 245, 0.6);
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}